@media screen (width > 480px) {
.article {
    grid-template-columns: 1fr 4fr;
}
}

html{
    background:linear-gradient(#F9F9ED, #41a8fd8a 45%);
}
header {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color:#41a8fd81;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ff183bbe;
}

main{
    background-color: #FFFBDB;
    border-style: solid;
    border-color:black;
}
img {    
    width: 90%;
    height: auto;
}

article{
    font-family: Helvetica, sans-serif;
    column-count: 2;
    column-gap:3em;
    padding-left:2em;
 }

 
.sidebar {
    font-family:Helvetica, sans-serif;
    margin: 0;
    color:#38302E;
    text-align: left;
    display: flex;
     font-size: medium;
    font-weight: 800;
    color: #38302E;
    text-decoration:underline;
    text-decoration-color: #ff183bbe;
    text-decoration-style: wavy;
    gap: .8em;
    justify-content: center;
    align-items: center;
    align-content: center;
}  

.links {
    list-style: none;
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 0.5em;
    
}

.links>a {
    font-size: medium;
    font-weight: 800;
    color: #38302E;
    text-decoration:underline;
    text-decoration-color: #ff183bbe;
    text-decoration-style: wavy;
    position: relative;
}

.links>a:hover, a:active {
    color: black;
    text-shadow: 0 0 0.1em #535252;
    transition: 0.3s ease;
}
  

footer{
    text-align: center;
}