@media screen (max-width: 480px) and (min-width: 320px) {
    body {
        width: 80%;
    }
    
}

body{ 
  background: linear-gradient(#F9F9ED, #41a8fd8a 90%);
}

header{
 font-family: Helvetica, sans-serif;
 background-color:  #FFFBDB;
 display:grid;
 text-align: center;
 border-style: dashed;
 border-color: black;  
}


.sidebar {
    font-family:Helvetica, sans-serif;
    background-color: #41a8fd8a;
    margin: 0;
    color:#38302E;
    text-align: left;
    display: flex;
     font-size: medium;
    font-weight: 800;
    color: #000000;
    text-decoration:underline;
    text-decoration-color: #ff183bbe;
    text-decoration-style: wavy;
    gap: .8em;
    justify-content: center;
    align-items: center;
    align-content: center;
}  

.links {
    list-style: none;
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 0.5em;
    
}

.links>a {
    font-size: medium;
    font-weight: 800;
    color: #2c2b2b;
    text-decoration:underline;
    text-decoration-color: #ff183bbe;
    text-decoration-style: wavy;
    position: relative;
}

.links>a:hover, a:active {
    color: black;
    text-shadow: 0 0 0.1em #535252;
    transition: 0.3s ease;
}

main {
    font-family: Helvetica, sans-serif;
    text-align: center;
    border-style:dotted;
    border-color:black;
    background-color: #41a8fd8a;

}

aside {
  margin-left: 11em;
}

.card-one, .card-two, .card-three,.card-four,.card-five,.card-six {
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: 15em;
    width: 20em;
    perspective: 1000px;
    cursor: pointer;
    float: left;
    width: 28%; 
    padding: 5px;
}
  
  .card-inner {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: small;
    transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
    transform-style: preserve-3d;
  }

  
  .card-inner:hover {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-style: solid;
    border-radius: 1em;
  
}

  .card-front{
    background-color: #fbfbfb;
    border: 1px solid black;
  }

  .card-front>img {
    width: 55%;
    height: 55%;
    object-fit: contain;
    border-radius: 1em;
  }

  .card-back{
    background-color: #fbfbfb;
    border: 1px solid black;
     transform: rotateY(180deg);
  }
  
  footer{
    clear:all;
    font-family: Helvetica, sans-serif;
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
      text-align: center;
  }