body {
    margin: 0;
    background-color: rgb(145, 195, 241);
}

#top {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ffff;

}

main>h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-right: 5.5em;
}

.gallery {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-left: 12.3em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    
}

.gallery > div {
    padding: 10px;
    background-color: #fff;
    border-radius: .3em;
}

.sidebar {
    font-family:Helvetica, sans-serif;
    margin: .5em;
    color:#38302E;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #DBF4A7;
    width: 4.8em;
    height: 13.5em;
    position: collapse;
    float: left;
}
