body {
    margin: 0;
    background-color: rgb(145, 195, 241);
}

.sidebar {
    font-family:Helvetica, sans-serif;
    margin: 0;
    color:#38302E;
    text-align: left;
    display: flex;
    gap: .8em;
    justify-content: center;
    align-items: center;
    align-content: center;

}  

.links {
    list-style: none;
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 0.5em;
}

.links>a {
    font-size: medium;
    font-weight: 800;
    color: #38302E;
    text-decoration:underline;
    text-decoration-color: #41a9fd;
    text-decoration-style: wavy;
    position: relative;
    transition: 0.3s ease;
}

#top {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ffff;

}

main{
    background-color: rgb(250, 233, 211);
    display: grid;
    border-style: solid;
    border-color:black;
}

main>h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-right: 5.5em;
}

.gallery {
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;  
}

.box {
    width: 5em;
    height: 5em;
    background-color: #fff;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #38302E;
}

.gallery > div {
    padding: 10px;
    background-color: #fff;
    border-radius: .3em;
}

