@media screen (max-width: 480px) and (min-width: 320px) {
    body {
        width: 80%;
    }
    
}
body {
    background: linear-gradient(#F9F9ED, #41a8fd8a 150%);
    margin: 0;

}

.sidebar {
    font-family:Helvetica, sans-serif;
    margin: 0;
    color:#38302E;
    text-align: left;
    display: flex;
     font-size: medium;
    font-weight: 800;
    color: #38302E;
    text-decoration:underline;
    text-decoration-color: #ff183bbe;
    text-decoration-style: wavy;
    gap: .8em;
    justify-content: center;
    align-items: center;
    align-content: center;
}  

.links {
    list-style: none;
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 0.5em;
    
}

.links>a {
    font-size: medium;
    font-weight: 800;
    color: #38302E;
    text-decoration:underline;
    text-decoration-color: #ff183bbe;
    text-decoration-style: wavy;
    position: relative;
}

.links>a:hover, a:active {
    color: black;
    text-shadow: 0 0 0.1em #535252;
    transition: 0.3s ease;
}

#top {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ff183bbe;

}

main{
    background-color: #41a8fd67;
    display: grid;
    border-style: solid;
    border-color:black;
}

main>h2 {
    font-family: Helvetica, sans-serif;
    color: #000000;
    text-decoration: wavy;
    text-align: center;
    justify-content: center;
    text-decoration:underline;
    text-decoration-color: #ff183bbe;
    text-decoration-style: wavy;
}

.gallery {
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;  
}

.box {
    width: 5em;
    height: 5em;
    background-color: #fff;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #38302E;
}

.gallery > div {
    padding: 10px;
    background-color: #fff;
    border-radius: .3em;
}

