.lid {
    
    font-family: Helvetica, sans-serif;
    margin: 0em;
    color:#38302E;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(65, 169, 253);
}


.sidebar {
    font-family:Helvetica, sans-serif;
    margin: 0;
    color:#38302E;
    text-align: left;
    display: grid;
    grid-area:aside;
    padding: 1em;
    background-color: #DBF4A7;
    width: 4.8em;
    height: 13.5em;
    position: collapse;
    float: left;
}  

main {
    font-family: Helvetica, sans-serif;
    margin-left: 7.3em;
    color:#38302E;
    background-color: #F9F9ED;
    text-align: center;
    border: .1em solid #000000;
    
}

#not{
    font-family:Helvetica, sans-serif;
    background-color: #DBF4A7;
    margin-left: 7.3em;
    display:flex;
    flex-direction:row;
    border: 0.1em solid #38302E;
    
}

a:hover, a:active {
    color: black;
}

footer {
    text-align: center;
}